<h1>Create a New Figure!</h1>
<form method="POST" action="/figures">
  <h3>Name:</h3> <input type="text" name="figure[name]"/> <br>

  <h3>Title:</h3>
  <ul style="list-style: none;">
    <% @titles.each do |title| %>
    <li>  <input type="checkbox" name="figure[title_ids][]"
      value= "<%= title.id%>" />
      <%= title.name %>
    </li>
    <% end %>
    <li>
      OR New Title: <input type="text" name="title[name]" placeholder="Title"/>
    </li>
  </ul>


  <h3>Landmarks:</h3>
  <ul style="list-style: none;">
    <% @landmarks.each do |landmark| %>
    <li>  <input type="checkbox" name="figure[landmark_ids][]"
      value= "<%= landmark.id%>" />
      <%= landmark.name %>
    </li>
    <% end %>
    <li>
      OR New Landmark: <input type="text" name="landmark[name]" placeholder="Name"/> <input type="text" name="landmark[year_completed]" placeholder="Year"/>
    </li>
  </ul>

  <input type="submit" value="submit"/>
</form>

<!-- landmarks = checkboxes -->
